* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}


/* #REGION HEADER */

#site-header {
    background-color: #0084fd;
    padding: 1rem;
}

/* #ENDREGION HEADER */


/* #REGION UTULITIES */

.container {
    width: 80%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.between{
    justify-content: space-between;
}


/* #ENDREGION UTILITIES */

/* REGION DEBUG */

.debug #site-header {
    height: 70px;
}

.debug .container{
   
    height: 30px;
    background-color: yellowgreen;
}




/* #ENDREGION DEBUG */

/* MEDIA QUERY */
@media screen and (min-width: 480px) {
    .container{
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 768px) {
    .container{
        width: 60%;
        margin: auto;
    }
}