* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

:root{
    --r-primay:#9792e4;
    --r-header:#0084fd;
    --r-dark:#333333;
    --r-secondary:#b5ddff;
    --r-greend:#fdc15f;

}

/* #REGION HEADER */

#site-header {
    background-color:var(--r-header);
    padding: 1rem;
}

.row-menu .menu{
    padding: 0.3rem;
    gap: 1rem;
    display: flex;
}

.menu .btn{
    background-color: white;
    border-radius: 30%;
    padding: 0.5rem;
}

.menu > span{
    padding: 0.5rem;
    color: white;
}

/* #ENDREGION HEADER */

/* #REGION MAIN */

#site-main{
    margin-top: 2rem;
}

.strategy{
    background-color: var(--r-primay)
}

.row .col{

    border-radius: 3%;
    background-color: var(--r-secondary);
}

.row .col0{
    width: 60%;
}

.row .col1{
    width: 37%;
}

/* #ENDREGION MAIN */

/* #REGION UTULITIES */

.container {
    width: 70%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.col-6{
    width: 60%;
}

.col-4{
    width: calc(100% / 12)
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem
}

.mt-3{
    margin-top: 3rem;
}


/* #ENDREGION UTILITIES */

/* REGION DEBUG */

.debug #site-header {
    height: 70px;
}

.debug .row-menu{
   
    
   
}

.debug .col{
    height: 300px;
}

.debug .strategy{
    height: 600px;
}



/* #ENDREGION DEBUG */

/* MEDIA QUERY */
/* @media screen and (min-width: 480px) {
    .container{
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .row .col{
         
    }

}

@media screen and (min-width: 768px) {
    .container{
        width: 60%;
        margin: auto;
    }


} */